{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h2>Employee List</h2>

    <a class="btn btn-primary" href="{% url 'create' %}" >Create Employee</a>
</div>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>EMployee Email</th>
            <th>Employee Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ employee.id }}</td>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.employee_email }}</td>
            <td>{{ employee.employee_contact }}</td>
            <td class="d-flex justify-content-around">
                <a class="btn btn-info" href="{% url 'update' employee.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete' employee.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}