{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h2>Employee List</h2>

    <a class="btn btn-primary" href="{% url 'create' %}" >Create Employee</a>
</div>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Employee Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ employee.employee_id }}</td>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.employee_email }}</td>
            <td>{{ employee.employee_contact }}</td>
            <td class="d-flex justify-content-around">
                <a class="btn btn-success btn-sm" href="{% url 'update' employee.pk %}">Edit</a>
                <a class="btn btn-danger" href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}